<div class="container" style="background-color: lightblue;">
  <div class="jumbotron">
    <h1>Lazy Game v1.0 User Guide</h1>
    <h2>Lazy Game é um jogo simples onde eu, Rafael Luiz Rehn, aproveito a ferramentas Angular, JavaScript e PHP para aplicar algumas funcionalidades teste para aplicações web</h2>
    <br>
    <br>
    <p><strong>Como jogar?</strong></p>
    <p>É muito Facil! Basta clicar no botão <i>Start</i>.</p>
    <br>
    <p><strong>E depois?</strong></p>
    <p>Bem, depois um contador de tempo é ativado enquanto o botão é mantido pressionado.</p>
    <br>
    <p><strong>Conta pontos?</strong></p>
    <p>Não conta pontos, mas o seu maior tempo é armazenado e você pode registrar seu resultado no ranking.</p>
    <br>
    <p><strong>Qual ranking?</strong></p>
    <p>Pode-se conferir o rankinkg no menu superior <i>Ranking</i>.</p>
    <br>
    <br>
    <br> <i>By Rafael Luiz Rehn</i>
  </div>
</div>

<div class="container" style="background-color: lightblue;">
    <h3>rafael</h3>
    <img src="img/">
</div>

<script>
    $("#liabout").addClass("active");
    $("#liplay").removeClass("active");
    $("#liranking").removeClass("active");
</script>